PORT=5001
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority
JWT_SECRET=replace_with_a_random_secret_at_least_32_characters_long
JWT_EXPIRES_IN=7d
FRONTEND_URLS=https://finance-track-nu.vercel.app
NODE_ENV=production
